@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gantari:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

body,
header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: rgb(241, 241, 241);
  min-height: 100vh;
}

.bodyy {
  background-color: rgb(241, 241, 241);
  padding-top: 40px;
  padding-bottom: 40px;

  min-height: 100vh;
}

.bodyyy {
  padding-top: 40px;
  padding-bottom: 150px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 1%,
    rgba(112, 16, 16, 1) 51%,
    rgba(11, 3, 3, 1) 100%
  );
}

.top-header {
  padding-top: 10px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  background-color: rgb(31, 31, 31);
}

.top-buttons {
  border-top: 1px rgb(54, 54, 54) solid;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(31, 31, 31);
  padding: 10px;
}

.nav-btn {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 80%;
}

input {
  width: 500px;
  height: 20px;
  font-size: 17px;
  font-family: "Ropa Sans", sans-serif;
  padding-left: 5px;
  outline: none;
  border: none;
  background-color: rgb(241, 241, 241);
  border-bottom: 3px solid rgb(0, 0, 0);
  background-image: url(https://i.ibb.co/SBGrhXh/Magnifying-glass-icon-svg-1.png);
  background-repeat: no-repeat;
  background-position: 1% 70%;
  text-indent: 20px;
}

input::placeholder {
  opacity: 50%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.pagination-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.paging {
  min-width: 100px;
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif;
  font-size: 10px;
  color: rgb(50, 50, 50);
  background-color: red;
  --g: 6px; /* the gap */
  --b: 1px; /* border thickness*/
  --c: #ff0000; /* the color */

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  transition: 0.3s;
}
.paging:hover {
  --_p: 75%;
  color: #ff0000;
}

.paging-0 {
  min-width: 100px;
  opacity: 0%;
}

.paging-text-0 {
  opacity: 0%;
}

.listing-comics {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 220px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card:hover {
  cursor: pointer;
  color: red;
}

.title-card:hover {
  padding-top: 12px;
  opacity: 90%;
  cursor: pointer;
  transition: 0.25s padding ease-out;
  box-shadow: none;
}

.title-card {
  min-width: 195px;
  margin-top: 10px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}

.description {
  display: none;
}

.img-fit img {
  height: 300px;
  width: 200px;
  display: flex;
  object-fit: cover;
  object-position: left;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.29);
}

.title-comics {
  margin-top: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Ropa Sans", sans-serif;
}

.listing-characters {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card-character {
  background-color: rgb(40, 39, 39);
  border-end-end-radius: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-character:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.688);
  transition: ease-in-out 0.2s;
  opacity: 90%;
}

.img-fit-C {
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.img-fit-C img {
  margin-top: 4px;
  height: 158px;
  width: 166px;
  display: flex;
  object-fit: cover;
  object-position: left;
}

.separator {
  border-top: 2px solid rgb(255, 132, 0);
  margin-left: auto;
  margin-right: auto;
  max-width: 166px;
}

.title-card-charac {
  min-width: 165px;
  margin-top: 6px;
  height: 55px;
  text-align: center;
}

.title-character {
  font-family: "BenchNine", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.listing-characters:hover {
  color: rgb(255, 179, 0);
}

.master-character-page {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.fav-button {
  display: flex;
  justify-content: space-between;
}

.button-back {
  color: black;
  cursor: pointer;
}

.button {
  cursor: pointer;
  height: 30px;
  color: rgb(255, 170, 0);
  background-color: white;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.button:hover {
  opacity: 80%;
}

.character-style-info {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.portrait img {
  height: 380px;
  width: 300px;
  border: 2px solid rgb(33, 33, 33);
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}

.character-id {
  display: flex;
}

.block-info {
  display: flex;
  border-radius: 20px;
  padding: 10px;
}

.box-1 {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 23px;
  color: rgb(0, 0, 0);
}

.text-style {
  margin-bottom: 50px;
}

.text-style-2 {
  margin-bottom: 47px;
  font-size: 30px;
  color: #ff0400;
}

.text-style-3 {
  color: #1c1c1c;
  opacity: 60%;
  font-style: italic;
}

.box-2 {
  margin-top: 25px;
  margin-left: 40px;
  height: 200px;
  width: 500px;
  font-family: "Gantari", sans-serif;
  font-size: 23px;
  color: #cbcbcb;
}

.header-scroll-text {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  opacity: 80%;
}

.master-scrolling {
  display: flex;
  justify-content: center;
}

.scrolling-comics {
  padding: 10px;
  display: flex;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.181);
  flex-wrap: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  gap: 30px;
  width: 1100px;
  height: 260px;
  border: 2px solid rgba(70, 70, 70, 0.223);
  border-radius: 10px;
  overflow-x: scroll;
  margin-bottom: 55px;
}

.comics-fit-scroll img {
  height: 210px;
  width: 150px;
  display: flex;
  object-fit: cover;
}

.title-comics-scroll {
  margin-top: 5px;
  font-size: 11px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fav-card {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-right-radius: 50px;
  box-shadow: 1px 1px 10px 4px rgb(125, 125, 125);
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.info-fav {
  font-size: 30px;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
}

.apparition {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: crimson;
}

.portrait-fav img {
  height: 220px;
  width: 220px;
  border-radius: 50px;
  border: 4px solid transparent;
  background: linear-gradient(45deg, red, rgba(243, 243, 242, 0.106)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  display: flex;
  object-fit: cover;
  object-position: center;
}

.master-scrolling-fav {
  display: flex;
  justify-content: center;
}

.scrolling-comics-fav {
  padding: 10px;
  display: flex;
  box-shadow: 1px 1px 10px 1px rgba(92, 82, 82, 0.181);
  background-color: rgba(212, 212, 212, 0.234);
  flex-wrap: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  gap: 30px;
  width: 600px;
  height: 110px;
  border-radius: 10px;
  overflow-x: scroll;
}

.scrolling-comics-fav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.comics-fit-scroll-fav img {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.301);
  height: 110px;
  width: 70px;
  display: flex;
  object-fit: contain;
}

.comics-fit-scroll-fav img:hover {
  cursor: pointer;
}

.no-fav {
  color: blue;
  font-size: 20px;
  background-color: white;
}

footer {
  width: 100vw;
  height: 200px;
  background-color: rgb(31, 31, 31);
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info {
  display: flex;
  height: 200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}

.details {
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.505);
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
}

.details:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.694);
}

.bodY {
  display: flex;
  justify-content: center;
  padding: 200px;
}

.loading-effect {
  height: 100vh;
  display: flex;
  background: #f1f1f1;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(255, 0, 0), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* --------------- */

.image {
  position: relative;
  width: 200px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.613);
  color: #ffffff;
  font-size: 8px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #0b0b0bb9;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
